.header-control {
  display: flex;
  align-items: center;
  float: right;
  height: 55px;
}

.user-block {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  flex-direction: row;
}

.user-username {
  padding-left: 0.5rem;
  font-weight: bold;
  white-space: nowrap
}

.logout-block {
  position: relative;
  margin-right: 1rem;
}

.user-block::before, .logout-block::before{
  position: absolute;
  left: -12px;
  top: 50%;
  background: #dee2e6;
  width: 1px;
  height: 30px;
  margin-top: -15px;
  content: ''
}
